.team_statistics_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .team_statistics_table {
        display: grid;
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 20rem;
        border: .1rem solid #ccc;
        border-radius: .5rem;
        padding: 1rem;
        justify-items: center;
    }

    .team_statistics_table_header {
        font-size: 1.1rem;
        font-weight: 700;
        text-align: center; 

        th, td {
            font-weight: 700;
            text-align: center;
            margin-block: 0.5rem;
            padding-inline: 1rem;
        }
    }

    .team_statistics_table_row > th, td {
        font-weight: 400;
        text-align: center;
        margin-block: 0.5rem;
        padding-inline: 2rem;
    }
}